.single-comment {
  background-color: rgba(#fff, 0.1);
  width: 100%;
  padding: 10px 10px 5px;
  margin-bottom: 15px;
  box-shadow: 1px 1px 4px 0px rgba(#fff,0.2);
  &__image{
    padding-right: 5px;
    img{
      border-radius: 50%;
      object-fit: cover;
      width: 34px;
      height: 34px;
    }
  }
  &__content {
    h6{
      font-size: 12px;
      color:$orange;
      margin-bottom: 8px;
    }
    p {
      text-align: left;
      margin-bottom: 0;
      font-size: 12px;
      color:#fff;
      line-height: 16px;
    }
  }
  &__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    span{
      color:#fff;
      text-transform: uppercase;
      font-size: 10px;
      letter-spacing: 0.5px;
      cursor: pointer;
      transition: 0.3s;
      display: inline-block;
      margin-right: 5px;
      &:hover{
        color:$orange;
      }
      &:last-child{
        margin-right: 0;
      }
    }
    .date{
      img{
        display: inline-block;
        width: 13px;
        margin-right: 8px;
      }
      p{
        margin: 0;
        display: inline-block;
        width: auto;
        font-size: 12px;
      }
    }
  }
}

.map-section-event__participants{
  margin-bottom: 30px;
}

.single-participant {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 4px;
  margin-bottom: 2px;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
  }
  &__delete{
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    color:#fff;
    background: rgba(0,0,0,0.2);
    height: 14px;
    width:12px;
    line-height: 6px;
    padding: 3px;
    cursor: pointer;
    &:hover{
      color:$orange;
    }
  }
}
